.imgcenter { 
    padding-top: 109px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 10px;
}

.search-box {
    display: inline-block;
    margin-left: 860px;
    margin-right: auto;
    margin-bottom: 30px;
    height: 20px;
    font-size: 16px;
    width: 350px;
    border-style: none;
    outline: none;

}

.search-button {
    display: inline-block;
    border: 1px solid #dcdcdc;
    background-color: #f5f5f5;
    padding: 3px;
}

.rectangle {
    display: inline-block;
    height: 44px;
    width: 420px;
    border: 1px;
    border-color: gray;
    border-style: solid;
    border-radius: 50px 50px 50px 50px;
    margin-right: -1265px;
    margin-left: 740px;
    margin-bottom: -19px;
}

#advsearch {
    font-family: "Roboto";
    font-size: 25px;
    margin-left: 20px;
    color: #d93025;
    margin-bottom: 40px;
}

#headtext {
    font-size: 20px; 
    margin-left: 20px;
    font-family: "Roboto";
}

.googlelogo {
    display: flex;
    margin-bottom: 30px;
}

.headernav {
    display: flex;
}

nav {
    text-align: right;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#googlelogo {
    width: 10%;
    margin-bottom: 20px;
}

.textbox {
    width: 257px; height: 25px;
    border: 1px solid #d9d9d9;
}

#advancedbuttonsearch {
    line-height:100%;
    height:30px;
    min-width:120px;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 2px;
    font-size: 11px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 380px;
}

